.contact_box {
    justify-content:center;
    display: flex;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    padding-right: 10px;
    margin-right: 5px
}

.container {
    align-items:center ;
    padding-left: 0;
    padding-right: 20px;
}
.fas {
    margin-right: 20px;
}

.individual_contact {
    margin-top: 20px;
}

.img_contact {
    width: 100px;
    height: 100px;
    margin-top: 40px;
    margin-left: 20px;
}

.user_edit {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.trash {
    width: 30px;
    height: 30px;
}

.edition_box {
    margin-top: 60px;
}

.col-8 {
    margin-left: 20px;
}