/* 
    General Styles
*/
.navbar_img{
    width: 120px;
    height: 90px;
    margin-left: 10%
}

.btn_navbar {
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 140px;
    background-color: rgb(120, 189, 189);
}

.navbar {
    margin-right: 10%;
    padding-right: 10%;
    display: flex;
}

.app {
    padding: 5%;
}