.form_box {
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 4%;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: start;
    align-items:center
}

.form-label {
    margin-top: 15px;
}

.row-final{
    display: flex;
    justify-content: flex-end;
}

.btn_save {
    background:none;
    color: rgb(120, 189, 189);
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
}

.back_register {
    margin-right: 20px;
    margin-top: 30px;
    color: black;
    text-decoration: none;
    background: none;
    border: none;
}

.row-final {
    margin-right: 10%;
}